<!DOCTYPE html>
<html lang = "en-US">

<head>
	<meta charset="utf-8">
	<title> Description of the course {{course.name}} </title>
	<link rel="stylesheet" type="text/css" href="CSS/course_detailv1.0.css">
	<style>
	</style>

</head>

<body>
	<p> {{course.name}} </p>
	{% if not course %}
		<p> Detail page unavailable. Course may be no longer be offered. </p>
	{% else %} <!-- subject exists -->
		<div class="category"> <p> Code: {{course.code}}</p> </div>
		<div class="category"> <p> Type: {{course.type}}</p> </div>
		<div class="category"> <p> Section: {{course.section}}</p> </div>
		<div class="category"> <p> Units: {{course.units}}</p> </div>
		<div class="category"> <p> Instructor: {{course.instructor}}</p> </div>
		<div class="category"> <p> Time: {{course.time}}</p> </div>
		<div class="category"> <p> Location: {{course.place}}</p> </div>
		<div class="category"> <p> Final: {{course.final}}</p> </div>
	{% endif %}

</body>

</html>
