<!DOCTYPE html>
<html lang = "en-US">

<head>
	<meta charset="utf-8">
	<title> Index page of Zotschedule's schedule builder application </title> 
	<style>
	</style>
	
</head>

<body>
	<h1> All currently offered courses and subjects are listed below </h1>

	<p> Courses: </p>
	{% if courses %}
		<ul>
		{% for course in courses %}
			<li> <a href="{% url 'schedule_builder:course_detail' course.name %}">{{course.name}} </a> </li>
		{% endfor %}
		</ul>
	{% else %}
		<p> Index page unavailable. </p>
	{% endif %}
	
	<p> Subjects: </p>
	{% if subjects %}
		<ul>
		{% for subject in subjects %}
			<li> <a href="{% url 'schedule_builder:subject_detail' subject.name %}">{{subject.name}} </a> </li>
		{% endfor %}
		</ul>
	{% endif %}
	
	
	
</body>

</html>