<!DOCTYPE html>
<html lang = "en-US">


<head>
	<meta charset="utf-8">
	<title> Description of the subject '{{subject.name}}' </title>
	
	{% load static %}
	<link href= "{% static 'schedule_builder/CSS/subject_detail.css' %}" rel="stylesheet" type="text/css" >
	
	

</head>

<body>
	<h1> {{subject.name}} </h1>
	 
	
	 
	<div class = "description"> 
		<h2> Description of the course here </h2>
	</div>
	
	<div class = "major_info"> 
		<div class = "basic_info_wrapper">
			<h2> Basics </h2>
			{% if subject %}
				<div class="basic_info"> <p> Department: {{subject.department}}</p> </div>
				<div class="basic_info"> <p> GE's Satisfied: {{subject.satisfies}}</p> </div>
				<div class="basic_info"> <p> Terms Offered: {{subject.terms_offered}}</p> </div>
			{% else %} <!-- subject doesn't exist -->
				<p> Detail page unavailable. Subject may no longer be offered. </p>
			{% endif %}
		</div>	
		<div class = "reqs_wrapper"> 
			<h2 class = "header"> Requirements </h2>
			<div class="requisites"> <h3> Pre-Req's: </h3>
				<ul>
					{% if subject.pre_reqs == None %}
						<li> <p> None </p> </li>
					{% else %}
						{% for s in subject.pre_reqs %}
							<li> <a href="{% url 'schedule_builder:subject_detail' subject.name %}">{{subject.name}} </a> </li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
			<div class="requisites"> <h3> Co-Req's: </h3>
				<ul> 
				{% if subject.co_reqs == None %}
					<li> <p> None </p> </li>
				{% else %}
					{% for s in subject.co_reqs %}
						<li> <a href="{% url 'schedule_builder:subject_detail' subject.name %}">{{subject.name}} </a> </li>
					{% endfor %}				
				{% endif %}
				
			</div>
		</div>	
		
	</div>
	
	
	<div class="history"> <h2> Past Offerings: (unfinished) </h2> </div>

</body>

</html>
